<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= current_page.data.title || "Middleman" %></title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
    <%= stylesheet_link_tag "site" %>
  </head>
  <body class="has-background-light">
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
          <a class="navbar-item title is-5 is-info" href="/">¿Comeremos?</a>
          <!-- <p class="navbar-item subtitle">Veamos donde ir</p> -->
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <a class="button is-dark is-5" target="_blank" href="https://github.com/lapazcloud/comeremos">GitHub</a>
        </div>
      </div>
    </nav>
    <%= yield %>
    <footer class="footer has-background-white">
    <div class="content has-text-centered">
      <p>
        <strong>¿Comeremos?</strong> es un experimento de <a href="https://yamilurbina.com">Yamil Urbina</a>. El código fuente tiene licencia
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
      </p>
      <p>&copy; 2019</p>
    </div>
  </footer>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
   integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
   crossorigin=""></script>
   <%= javascript_include_tag "site" %>
  </body>
</html>
