---
title: ¿Comeremos?
---

<section class="hero is-primary">
    <div class="hero-body has-text-centered">
        <h2 class="title is-2 is-spaced">Encontremos buenos lugares para comer.</h2>
        <p class="subtitle is-5">Al parecer estás en:</p>
        <div class="dropdown is-hoverable">
            <div class="dropdown-trigger">
                <button class="button is-info is-large is-rounded">UMSA</button>
            </div>
            <div class="dropdown-menu">
                <div class="dropdown-content">
                    <div class="dropdown-item">
                        <p>Tu locación se calcula en base a tu <strong>IP</strong> y el proveedor registrado.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hero" id="map">
</section>
